:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

/* Type fonts */
/* 
Headings
font-family: 'Poppins', sans-serif;
Weights - 400, 600

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: var(--violet);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 1280px;
  margin: 4rem auto;
}

/* Background Image */

.background-image {
  background: url("images/bg-desktop.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* Logo */

.logo {
  width: 200px;
}

/* Middle Section */

.middle-section {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  margin: 8rem auto;
}

/* .container {
  grid:;
  two columns
  three rows
} */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
