:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: var(--violet);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  width: 1280px;
  margin: 4rem auto;
}

/* Background Image */

.background-image {
  background: url("images/bg-desktop.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* Logo */

.logo {
  width: 200px;
}

/* Middle Section */

.middle-section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 4rem;
  align-items: start;
  margin: 6rem auto;
}

/* Information */

.information {
  width: 460px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
  margin: 2.5rem 0 1.5rem;
}

.register {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: var(--violet);
  box-shadow: 5px 5px 8px rgb(0 0 0 / 20%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 12.5px 55px;
  margin: 1.5rem 0;
}

.register:hover {
  background-color: var(--magenta);
  color: #fff;
  cursor: pointer;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
