:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: var(--violet);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  width: 1280px;
  margin: 4rem auto 0;
}

/* Background Image */

.background-image {
  background: url("images/bg-desktop.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* Logo */

.logo {
  width: 200px;
}

/* Container */

.container {
  display: grid;
  grid-template-columns: 800px 460px;
  grid-template-rows: auto 1fr;
  align-items: start;
  margin: 6rem auto 3rem;
}

/* Information */

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
  margin: 2.5rem 0 1.5rem;
}

.register {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: var(--violet);
  box-shadow: 5px 5px 8px rgb(0 0 0 / 20%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 12.5px 55px;
  margin: 1.5rem 0;
}

.register:hover {
  background-color: var(--magenta);
  color: #fff;
  cursor: pointer;
}

/* Icons */

.icons {
  grid-column: 2 /-2;
  justify-self: end;
}

.icons i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  margin-right: 5px;
}

.icons i:hover {
  color: #ef51ca;
  border: 1px solid #ef51ca;
  cursor: pointer;
}

/* Footer */

.attribution {
  color: #fff;
  font-size: 11px;
  margin-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: #fff;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--magenta);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 2rem auto 1rem;
    width: 375px;
  }

  /* Background Image */

  .background-image {
    background: url(images/bg-mobile.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 50%;
  }

  /* Logo */

  .logo {
    width: 150px;
    margin-left: 2rem;
  }

  /* Container */

  .container {
    grid-template-columns: 320px;
    grid-template-rows: none;
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;
    margin: 3rem auto 2rem;
  }

  .pictures img {
    width: 95%;
  }

  /* Information */

  .heading {
    font-size: 24px;
    margin: 1rem 0;
  }

  .information p {
    width: 300px;
  }

  .register {
    font-size: 14px;
    padding: 10px 85px;
    margin: 2rem 0;
  }

  /* Icons */

  .icons {
    justify-self: center;
  }
}
